<div class="admin-view">
    <div class="sidebar">
        <h2>Admin Portal</h2>
        <ul>
            <li><a routerLink="/movie">Movies</a></li>
            <li><a routerLink="/director">Directors</a></li>
            <li><a routerLink="/actor">Actors</a></li>
            <li><a routerLink="/producer">Producer</a></li>
            <li><a routerLink="/language">Languages</a></li>
            <li><a routerLink="/genre">Genres</a></li>
        </ul>
    </div>
    <div class="main-content">
        <h2>Welcome to the Admin Portal!</h2>
    </div>
</div>